/* Misc colors */
/* Default color scheme colors */
/* Fun and profesional color scheme */
/* Clear and highlighted color scheme */
/* Warm tones color scheme */
/* Bold and punchy color scheme */
/* Misc colors */
/* Default color scheme colors */
/* Fun and profesional color scheme */
/* Clear and highlighted color scheme */
/* Warm tones color scheme */
/* Bold and punchy color scheme */
/* Tachyons color codes extended */
/* Background colors */
/* line 6, ../sass/tachyons-extended.scss */
.bg-redpink {
  background-color: #e21364; }

/* line 7, ../sass/tachyons-extended.scss */
.bg-transwhite {
  background-color: rgba(255, 255, 255, 0.68); }

/* line 8, ../sass/tachyons-extended.scss */
.bg-lightred {
  background-color: #cd393a; }

/* line 9, ../sass/tachyons-extended.scss */
.bg-darkpurple {
  background-color: #364c62; }

/* line 10, ../sass/tachyons-extended.scss */
.bg-lightergray {
  background-color: rgba(215, 215, 215, 0.78); }

/* Text colors */
/* line 15, ../sass/tachyons-extended.scss */
.redpink {
  color: #e21364; }

/* line 16, ../sass/tachyons-extended.scss */
.dustywhite {
  color: #e8e6ed; }

/* line 17, ../sass/tachyons-extended.scss */
.darkergray {
  color: #535559; }

/* line 18, ../sass/tachyons-extended.scss */
.lightred {
  color: #cd393a; }

/* line 19, ../sass/tachyons-extended.scss */
.darkpurple {
  color: #364c62; }

/* line 20, ../sass/tachyons-extended.scss */
.lightgray {
  color: rgba(215, 215, 215, 0.78); }

/* Border colors */
/* line 23, ../sass/tachyons-extended.scss */
.b--transwhite {
  border-color: rgba(255, 255, 255, 0.68); }

/* line 24, ../sass/tachyons-extended.scss */
.b--redpink {
  border-color: #e21364; }

/* line 25, ../sass/tachyons-extended.scss */
.b--lightred {
  border-color: #cd393a; }

/* line 26, ../sass/tachyons-extended.scss */
.b--darkpurple {
  border-color: #364c62; }

/* line 27, ../sass/tachyons-extended.scss */
.c-bt--dashed {
  border-top-style: dashed; }

/* line 28, ../sass/tachyons-extended.scss */
.c-bb--dashed {
  border-bottom-style: dashed; }

/* Tachyons classes extended */
/* line 31, ../sass/tachyons-extended.scss */
.custom-color-hover {
  background-color: white; }
  /* line 31, ../sass/tachyons-extended.scss */
  .custom-color-hover .custom-color, .custom-color-hover a {
    color: #364c62; }

/* line 32, ../sass/tachyons-extended.scss */
.custom-color-hover:hover {
  background-color: #cd393a; }
  /* line 32, ../sass/tachyons-extended.scss */
  .custom-color-hover:hover .custom-color, .custom-color-hover:hover a {
    color: white; }

/* line 33, ../sass/tachyons-extended.scss */
.custom-read-more {
  border-color: #364c62; }

/* line 34, ../sass/tachyons-extended.scss */
.custom-read-more:hover {
  border-color: white; }

/* Misc colors */
/* Default color scheme colors */
/* Fun and profesional color scheme */
/* Clear and highlighted color scheme */
/* Warm tones color scheme */
/* Bold and punchy color scheme */
/* Misc colors */
/* Default color scheme colors */
/* Fun and profesional color scheme */
/* Clear and highlighted color scheme */
/* Warm tones color scheme */
/* Bold and punchy color scheme */
/* Tachyons color codes extended */
/* Background colors */
/* line 6, ../sass/tachyons-extended.scss */
.bg-redpink {
  background-color: #e21364; }

/* line 7, ../sass/tachyons-extended.scss */
.bg-transwhite {
  background-color: rgba(255, 255, 255, 0.68); }

/* line 8, ../sass/tachyons-extended.scss */
.bg-lightred {
  background-color: #cd393a; }

/* line 9, ../sass/tachyons-extended.scss */
.bg-darkpurple {
  background-color: #364c62; }

/* line 10, ../sass/tachyons-extended.scss */
.bg-lightergray {
  background-color: rgba(215, 215, 215, 0.78); }

/* Text colors */
/* line 15, ../sass/tachyons-extended.scss */
.redpink {
  color: #e21364; }

/* line 16, ../sass/tachyons-extended.scss */
.dustywhite {
  color: #e8e6ed; }

/* line 17, ../sass/tachyons-extended.scss */
.darkergray {
  color: #535559; }

/* line 18, ../sass/tachyons-extended.scss */
.lightred {
  color: #cd393a; }

/* line 19, ../sass/tachyons-extended.scss */
.darkpurple {
  color: #364c62; }

/* line 20, ../sass/tachyons-extended.scss */
.lightgray {
  color: rgba(215, 215, 215, 0.78); }

/* Border colors */
/* line 23, ../sass/tachyons-extended.scss */
.b--transwhite {
  border-color: rgba(255, 255, 255, 0.68); }

/* line 24, ../sass/tachyons-extended.scss */
.b--redpink {
  border-color: #e21364; }

/* line 25, ../sass/tachyons-extended.scss */
.b--lightred {
  border-color: #cd393a; }

/* line 26, ../sass/tachyons-extended.scss */
.b--darkpurple {
  border-color: #364c62; }

/* line 27, ../sass/tachyons-extended.scss */
.c-bt--dashed {
  border-top-style: dashed; }

/* line 28, ../sass/tachyons-extended.scss */
.c-bb--dashed {
  border-bottom-style: dashed; }

/* Tachyons classes extended */
/* line 31, ../sass/tachyons-extended.scss */
.custom-color-hover {
  background-color: white; }
  /* line 31, ../sass/tachyons-extended.scss */
  .custom-color-hover .custom-color, .custom-color-hover a {
    color: #364c62; }

/* line 32, ../sass/tachyons-extended.scss */
.custom-color-hover:hover {
  background-color: #cd393a; }
  /* line 32, ../sass/tachyons-extended.scss */
  .custom-color-hover:hover .custom-color, .custom-color-hover:hover a {
    color: white; }

/* line 33, ../sass/tachyons-extended.scss */
.custom-read-more {
  border-color: #364c62; }

/* line 34, ../sass/tachyons-extended.scss */
.custom-read-more:hover {
  border-color: white; }

/* line 4, ../sass/_partials/globals.scss */
body, a, li, ul {
  list-style: none; }

/* line 8, ../sass/_partials/globals.scss */
.custom-header-text {
  position: absolute;
  top: 140px;
  left: 50px; }

/* line 13, ../sass/_partials/globals.scss */
.custom-header-navigation li {
  display: inline-block;
  padding: 0 3% 0 2%;
  text-align: center; }

/* line 18, ../sass/_partials/globals.scss */
.custom-footer-navigation li {
  display: inline-block;
  padding: 0 1% 0 1%; }

/* line 22, ../sass/_partials/globals.scss */
.custom-footer-navigation ul, .custom-header-navigation ul {
  padding: 0 0 0 0; }

/* Globals */
/* line 26, ../sass/_partials/globals.scss */
a {
  font-weight: bolder;
  text-decoration: none; }

/* Globals */
/* line 6, ../sass/theme-color-scheme/default_color_scheme.scss */
.default {
  background-color: #364c62; }

/* line 7, ../sass/theme-color-scheme/default_color_scheme.scss */
.default-clean-color {
  color: #364c62; }

/* line 8, ../sass/theme-color-scheme/default_color_scheme.scss */
.default-clean-color {
  background-color: #DFDCE3; }

/* line 9, ../sass/theme-color-scheme/default_color_scheme.scss */
.default-clean-link-color a {
  color: #364c62 !important; }

/* line 10, ../sass/theme-color-scheme/default_color_scheme.scss */
.default a {
  color: #DFDCE3; }

/* line 11, ../sass/theme-color-scheme/default_color_scheme.scss */
.default-color-box {
  background-color: rgba(82, 82, 82, 0.5); }

/* line 12, ../sass/theme-color-scheme/default_color_scheme.scss */
.default-blog-font-color {
  color: #DFDCE3; }

/* line 13, ../sass/theme-color-scheme/default_color_scheme.scss */
.default-color-navigation a {
  color: rgba(82, 82, 82, 0.5); }

/* line 14, ../sass/theme-color-scheme/default_color_scheme.scss */
.default-color-navigation a:hover {
  color: #364c62; }

/* line 15, ../sass/theme-color-scheme/default_color_scheme.scss */
.default-color-search {
  color: rgba(82, 82, 82, 0.5); }

/* line 16, ../sass/theme-color-scheme/default_color_scheme.scss */
.default-color-search:hover {
  color: #364c62; }

/* line 17, ../sass/theme-color-scheme/default_color_scheme.scss */
.default-color-heading-box {
  background-color: #364c62; }

/* line 18, ../sass/theme-color-scheme/default_color_scheme.scss */
.default-color-heading {
  color: #DFDCE3; }

/* line 19, ../sass/theme-color-scheme/default_color_scheme.scss */
.default-color-author {
  background-color: #364c62; }

/* line 20, ../sass/theme-color-scheme/default_color_scheme.scss */
.default-color-author a {
  color: #DFDCE3; }

/* line 21, ../sass/theme-color-scheme/default_color_scheme.scss */
.default-color-date {
  color: #364c62; }

/* line 22, ../sass/theme-color-scheme/default_color_scheme.scss */
.default-color-footer-navigation {
  background-color: #364c62; }

/* line 23, ../sass/theme-color-scheme/default_color_scheme.scss */
.default-border-color {
  border-color: rgba(82, 82, 82, 0.5); }

/* line 24, ../sass/theme-color-scheme/default_color_scheme.scss */
.default-footer-menu a {
  color: white; }

/* line 25, ../sass/theme-color-scheme/default_color_scheme.scss */
.default-p-color {
  color: white; }

/* line 26, ../sass/theme-color-scheme/default_color_scheme.scss */
.default-social-box-color {
  background-color: #364c62; }

/* line 27, ../sass/theme-color-scheme/default_color_scheme.scss */
.default-social-link-color a {
  color: #DFDCE3; }

/* line 28, ../sass/theme-color-scheme/default_color_scheme.scss */
.default-button-color {
  background-color: #364c62;
  color: #DFDCE3; }

/* line 29, ../sass/theme-color-scheme/default_color_scheme.scss */
.default-article-link link {
  color: #364c62; }

/* line 30, ../sass/theme-color-scheme/default_color_scheme.scss */
link {
  color: #364c62; }

/* line 31, ../sass/theme-color-scheme/default_color_scheme.scss */
.avatar {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%; }

/* Comments template */
/* line 35, ../sass/theme-color-scheme/default_color_scheme.scss */
.commentlist .even .comment {
  background-color: #ccddf2; }

/* line 38, ../sass/theme-color-scheme/default_color_scheme.scss */
.commentlist .odd .comment {
  background-color: #CCCCCC; }

/* line 42, ../sass/theme-color-scheme/default_color_scheme.scss */
#comment-body {
  margin-bottom: 4%; }

/* line 43, ../sass/theme-color-scheme/default_color_scheme.scss */
.comment {
  margin-top: 4%;
  padding-bottom: 2%; }

/* line 44, ../sass/theme-color-scheme/default_color_scheme.scss */
.comment-author cite {
  vertical-align: top;
  margin-top: 10px; }

/* line 45, ../sass/theme-color-scheme/default_color_scheme.scss */
.says {
  display: none; }

/* line 46, ../sass/theme-color-scheme/default_color_scheme.scss */
.url {
  display: inline-block;
  vertical-align: top;
  padding-top: 7px;
  color: #364c62; }

/* line 47, ../sass/theme-color-scheme/default_color_scheme.scss */
.comment-author {
  display: inline-block;
  float: left; }

/* line 48, ../sass/theme-color-scheme/default_color_scheme.scss */
.comment-meta {
  display: inline-block;
  float: right; }

/* line 49, ../sass/theme-color-scheme/default_color_scheme.scss */
.comment-reply-link {
  clear: both;
  background-color: #364c62;
  border-radius: 105px;
  padding: 1% 2% 1% 2%;
  color: white; }

/* line 50, ../sass/theme-color-scheme/default_color_scheme.scss */
.reply {
  text-align: center;
  margin-top: 50px; }

/* line 51, ../sass/theme-color-scheme/default_color_scheme.scss */
.comment-meta a {
  color: #364c62; }

/* line 52, ../sass/theme-color-scheme/default_color_scheme.scss */
.comment-edit-link {
  clear: both; }

/* line 53, ../sass/theme-color-scheme/default_color_scheme.scss */
.comment p {
  clear: both;
  padding-top: 1%; }

/* line 61, ../sass/theme-color-scheme/default_color_scheme.scss */
#comment
#submit
.comment-notes {
  text-align: center; }

/* line 77, ../sass/theme-color-scheme/default_color_scheme.scss */
h1, h2, h3, h4, h5, h6 {
  color: #364c62; }

/* line 78, ../sass/theme-color-scheme/default_color_scheme.scss */
p {
  color: #364c62; }

/* line 79, ../sass/theme-color-scheme/default_color_scheme.scss */
article {
  background-color: white; }
