@import "_partials/colors";
@import "tachyons-extended";
@import "_partials/globals";
/* Globals */

.default{ background-color: $darkpurple; }
.default-clean-color{ color: $darkpurple; }
.default-clean-color{ background-color: $clean; }
.default-clean-link-color a{ color: $darkpurple!important; }
.default a{ color: $clean; }
.default-color-box{ background-color: $transparentgray; }
.default-blog-font-color{ color: $clean; }
.default-color-navigation a{ color: $transparentgray; }
.default-color-navigation a:hover{ color: $darkpurple; }
.default-color-heading-box{ background-color: $darkpurple; }
.default-color-heading{ color: $clean; }
.default-color-author{ background-color: $darkpurple; }
.default-color-author a{ color: $clean; }
.default-color-date{ color: $darkpurple; }
.default-color-footer-navigation{ background-color: $darkpurple; }
.default-border-color{ border-color: $transparentgray; }
.default-footer-menu a{ color: white; }
.default-p-color{ color: white; }
.default-social-box-color{ background-color: $darkpurple; }
.default-social-link-color a{ color: $clean; }
.default-button-color{ background-color: $darkpurple; color: $clean; }
.default-article-link link{ color: $darkpurple; }
link{ color: $darkpurple; }
.avatar{ border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; }
/* Comments template */


#respond { }
#reply-title { }
#cancel-comment-reply-link { }
#commentform { }
#author { }
#email { }
#url { }
#comment
#submit
.comment-notes { text-align: center; }
.required { }
.comment-form-author { }
.comment-form-email { }
.comment-form-url { }
.comment-form-comment {  }
.form-allowed-tags { }
.form-submit



body{}
a{}
a:hover{}
h1,h2,h3,h4,h5,h6{ color: $darkpurple; }
p{ color: $darkpurple; }
article{ background-color: white; }
span{}
header{}
footer{}
aside{}
section{}
button{}
form{}
input{}
label{}
select{}
textarea{}
option{}
legend{}
fieldset{}
ul{}
ol{}
li{}
caption{}
table{}
col{}
tr, td, th{}
embed, area, figure, frame{}
