/* Misc colors */
$graywhite: rgba(#b9b9b9, 0.1);
$redpink: rgb(226, 19, 100);
$dustywhite: rgb(232, 230, 237);
$darkergray: rgb(36, 36, 36);
$transparentgray: rgba(82, 82, 82, 0.5);
/* Default color scheme colors */
$darkpurple: #364c62;
$lightred: #cd393a;
$transparentwhite: rgba(255, 255, 255, 0.68);
$lightergray: rgba(215, 215, 215, 0.78);
/* Fun and profesional color scheme */
$neonblue: #00e3dc;
$fresh: #4ABDAC;
$vermillion: #FC4A1A;
$sunshine: #F78733;
$clean: #DFDCE3;
/* Clear and highlighted color scheme */
$sky: #CAEBF2;
$carbon: #A9A9A9;
$watermelon: #FF383F;
$neutral: #EFEFEF;
/* Warm tones color scheme */
$grain: #D7CEC7;
$blackboard: #565656;
$oxblood: #76323F;
$tan: #C09F80;
/* Bold and punchy color scheme */
$papaya: #E24E42;
$mustard: #E98000;
$blush: #EB6E80;
$aqua: #008F95;
