$redpink: rgb(226, 19, 100);
$dustywhite: rgb(232, 230, 237);
$darkergray: rgb(83, 85, 89);
$darkpurple: #364c62;
$lightred: #cd393a;
$transparentwhite: rgba(255, 255, 255, 0.68);
$lightgray: rgb(185, 185, 185);
