@import "_partials/colors.scss";
.header-navigation li{
  padding: 1% 3% 1% 3%;
  display: inline;
  a {
    color: $redpink;
    text-decoration: none;
  }

}
.header-navigation ul{
  padding: 0 0 0 0;
}

.footer-navigation li{
  display: inline;
  margin-left: 2%;
}
.footer-navigation li{
  a { color: $redpink; text-decoration: none; margin-left: 1%; font-weight: 800; }
}
