/* Misc colors */
/* Default color scheme colors */
/* Fun and profesional color scheme */
/* Clear and highlighted color scheme */
/* Warm tones color scheme */
/* Bold and punchy color scheme */
/* Misc colors */
/* Default color scheme colors */
/* Fun and profesional color scheme */
/* Clear and highlighted color scheme */
/* Warm tones color scheme */
/* Bold and punchy color scheme */
/* Tachyons color codes extended */
/* Background colors */
/* line 6, ../sass/tachyons-extended.scss */
.bg-redpink {
  background-color: #e21364; }

/* line 7, ../sass/tachyons-extended.scss */
.bg-transwhite {
  background-color: rgba(255, 255, 255, 0.68); }

/* line 8, ../sass/tachyons-extended.scss */
.bg-lightred {
  background-color: #cd393a; }

/* line 9, ../sass/tachyons-extended.scss */
.bg-darkpurple {
  background-color: #364c62; }

/* line 10, ../sass/tachyons-extended.scss */
.bg-lightergray {
  background-color: rgba(215, 215, 215, 0.78); }

/* Text colors */
/* line 15, ../sass/tachyons-extended.scss */
.redpink {
  color: #e21364; }

/* line 16, ../sass/tachyons-extended.scss */
.dustywhite {
  color: #e8e6ed; }

/* line 17, ../sass/tachyons-extended.scss */
.darkergray {
  color: #535559; }

/* line 18, ../sass/tachyons-extended.scss */
.lightred {
  color: #cd393a; }

/* line 19, ../sass/tachyons-extended.scss */
.darkpurple {
  color: #364c62; }

/* line 20, ../sass/tachyons-extended.scss */
.lightgray {
  color: rgba(215, 215, 215, 0.78); }

/* Border colors */
/* line 23, ../sass/tachyons-extended.scss */
.b--transwhite {
  border-color: rgba(255, 255, 255, 0.68); }

/* line 24, ../sass/tachyons-extended.scss */
.b--redpink {
  border-color: #e21364; }

/* line 25, ../sass/tachyons-extended.scss */
.b--lightred {
  border-color: #cd393a; }

/* line 26, ../sass/tachyons-extended.scss */
.b--darkpurple {
  border-color: #364c62; }

/* line 27, ../sass/tachyons-extended.scss */
.c-bt--dashed {
  border-top-style: dashed; }

/* line 28, ../sass/tachyons-extended.scss */
.c-bb--dashed {
  border-bottom-style: dashed; }

/* Tachyons classes extended */
/* line 31, ../sass/tachyons-extended.scss */
.custom-color-hover {
  background-color: white; }
  /* line 31, ../sass/tachyons-extended.scss */
  .custom-color-hover .custom-color, .custom-color-hover a {
    color: #364c62; }

/* line 32, ../sass/tachyons-extended.scss */
.custom-color-hover:hover {
  background-color: #cd393a; }
  /* line 32, ../sass/tachyons-extended.scss */
  .custom-color-hover:hover .custom-color, .custom-color-hover:hover a {
    color: white; }

/* line 33, ../sass/tachyons-extended.scss */
.custom-read-more {
  border-color: #364c62; }

/* line 34, ../sass/tachyons-extended.scss */
.custom-read-more:hover {
  border-color: white; }

/* line 4, ../sass/_partials/globals.scss */
body, a, li, ul {
  list-style: none; }

/* line 8, ../sass/_partials/globals.scss */
.custom-header-text {
  position: absolute;
  top: 140px;
  left: 50px; }

/* line 13, ../sass/_partials/globals.scss */
.custom-header-navigation li {
  display: inline-block;
  padding: 0 1% 0 1%;
  text-align: center; }

/* line 18, ../sass/_partials/globals.scss */
.custom-footer-navigation li {
  display: inline-block;
  padding: 0 1% 0 1%; }

/* line 22, ../sass/_partials/globals.scss */
.custom-footer-navigation ul, .custom-header-navigation ul {
  padding: 0 0 0 0; }

/* Globals */
/* line 26, ../sass/_partials/globals.scss */
a {
  font-weight: bolder;
  text-decoration: none; }
